.about{
    overflow-x: hidden;
    display: flex;

    min-height: 100vh;
    background: linear-gradient(
        90deg,
        #050505 0%,
        #050505 45%,
        #1A2D00 75%,
        #2D4A00 100%
    );
        padding:2rem;

}
.intro_about{
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);

}
.number{
    color:chartreuse;
}
.who{
    color: #A0A0A0;
}

.hero_about h1{
    font-weight:1000 !important;
        padding-left: 1rem;
        line-height: 0.8;
        font-size: clamp(36px, 5vw, 94px);
}
.evolve{
    color: chartreuse;
}
.para_about p{

    padding-left: 1.2rem;
    font-size:clamp(0.9rem, 1.5vw, 1.2rem) !important;
    color: #A0A0A0;
    line-height: 0.8;


 }
 

.trust-section{
     padding-left: 1.2rem;
     display: flex;
     gap: 4rem;

   
}
.trust    h2{

     font-weight:700 !important;
        padding-left: 1rem;
        line-height: 0.8;
        font-size: clamp(36px, 5vw, 94px);
        color: #A4FF00;
}
.trust-section span{
  color: white;
  font-size: 0.9rem;
}
.vertical-line{
  width: 1px;
    background: rgba(164, 255, 0, 0.3);
    height: 100vh;

}
.left_section{
    width: 50%;
}
.feature-card{
    background: #050505;
}
.right_section{
    width: 40vw;
}
.feature-card {
    border-radius: 20px;
    height: 10rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
}


.card-number{
    color: #A4FF00;
    font-size:clamp(0.9rem, 4vw, 1.2rem) !important;
    padding-left: 1rem;
    margin-top: 1rem;

}
.card_head{
        font-size: clamp(36px, 3vw, 94px);
        margin-left: 1rem !important;

}
.P_tag{
    font-size:clamp(0.9rem, 1.5vw, 1.2rem) !important;
    color: #A0A0A0;
    margin-top: 0.8rem !important;
    margin-left: 3rem;

}

