.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    background: linear-gradient(
        90deg,
        #050505 0%,
        #050505 45%,
        #1A2D00 75%,
        #2D4A00 100%
    );
}